<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Projet Full Stack</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link px-3 py-2 text-white" routerLink="/listCategorie" routerLinkActive="active">
              <i class="bi bi-list-ul me-2"></i> Liste des Catégories
            </a>
          </li>
          <!-- Autres liens de navigation peuvent être ajoutés ici -->
        </ul>
      </div>
    </div>
  </nav>
  