<div class="container mt-5">
    <h2 class="text-center mb-4">Modifier la catégorie</h2>

    <form [formGroup]="categorieForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="nom" class="form-label">Nom de la catégorie</label>
        <input type="text" id="nom" formControlName="nom" class="form-control" />
        <div *ngIf="categorieForm.get('nom')?.invalid && categorieForm.get('nom')?.touched" class="text-danger">
          Le nom est requis
        </div>
      </div>

      <div class="mb-3">
        <label for="parentId" class="form-label">Catégorie parente</label>
        <select id="parentId" formControlName="parentId" class="form-control">
          <!-- Affichage de la liste des catégories sans la catégorie racine -->
          <option *ngFor="let cat of categories" [value]="cat.id">{{ cat.nom }}</option>
          <!-- Option spéciale pour les catégories racines -->
          <option *ngIf="categorieForm.get('parentId')?.value === null" value="null">Pas de parent</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="categorieForm.invalid">Enregistrer</button>
    </form>
</div>
