<div class="container mt-5">
  <h2 class="text-center mb-4">Liste des catégories</h2>

  <!-- Bouton pour ajouter une catégorie -->
  <button class="btn btn-primary mb-4" routerLink="/ajoutCategorie">Ajout catégorie</button>

  <!-- Vérification si la liste des catégories n'est pas vide -->
  <div *ngIf="categories && categories.length > 0; else noCategories">
    <table class="table table-striped table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Nom de la catégorie</th>
          <th scope="col">Crée le</th>
          <th scope="col">Statut</th>
          <th scope="col">Enfants</th>
          <th scope="col">Actions</th> <!-- Nouvelle colonne pour les actions -->
        </tr>
      </thead>
      <tbody>
        <!-- Boucle pour afficher chaque catégorie -->
        <tr *ngFor="let categorie of categories">
          <td>{{ categorie.nom }}</td>
          <td>{{ formatDate(categorie.dateCreation) }}</td> <!-- Utilisation de formatDate ici -->
          
          <!-- Affichage si la catégorie est une racine -->
          <td>
            <span *ngIf="categorie.estRacine" class="badge bg-primary">
              Racine
            </span>
            <span *ngIf="!categorie.estRacine" class="badge bg-secondary">
              Non racine
            </span>
          </td>

          <!-- Affichage des enfants de la catégorie -->
          <td>
            <ul *ngIf="categorie.enfants && categorie.enfants.length > 0">
              <li *ngFor="let enfant of categorie.enfants">
                {{ enfant.nom }}
              </li>
            </ul>
            <span *ngIf="!categorie.enfants || categorie.enfants.length === 0">Aucun enfant</span>
          </td>

          <!-- Colonne des actions avec les boutons Modifier et Supprimer -->
          <td>
            <!-- Bouton Modifier -->
            <button class="btn btn-warning btn-sm" [routerLink]="['/modifierCategorie', categorie.id]">
              Modifier
            </button>
            <!-- Bouton Supprimer -->
            <button class="btn btn-danger btn-sm" (click)="deleteCategorie(categorie.id)">
              Supprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Template alternatif en cas de liste vide -->
  <ng-template #noCategories>
    <div class="alert alert-warning text-center" role="alert">
      <i class="bi bi-exclamation-circle me-2"></i> Aucune catégorie disponible.
    </div>
  </ng-template>
</div>
